body{
    margin: 0;
    padding: 0;
    background-image:url(Surf\ Beach\ Desktop\ Wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: 100;
}

img{
    height: 40px;
    width: 40px;
    margin: 15px 0px 0px 100px;
    border-radius: 50%;
}

 .title{
    margin: -28px 0 0 150px;
    color:#fff;
    font-weight: -700;
}

ul{
    display: flex;
    list-style: none;
    float: right;
    margin: -29px 24px 0 0;
}

li{
    padding: 10px;
    color: #fff;
}

desc{
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    margin: 80px 0 0;
}