<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


      <!-- Navbar ends here -->



      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
                <ul class=" ul-lists">
                    <img src="doclogo.png" alt="">
                    <li>Hello</li>
                    <img src="doclogo.png" alt="">
                    <li>Hello</li>
                    <img src="doclogo.png" alt="">
                    <li>Hello</li>
                    <img src="doclogo.png" alt="">
                    <li>Hello</li>
                    <img src="doclogo.png" alt="">
                    <li>Hello</li>

                </ul>
                
                    </div>
                    <div class="col-lg-2">
                        <div class="card">
                            <span>
                            <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="Curriculum_inactiveItemIcon__V52vb"><path d="M4.9375 4.625H7.125C7.37891 4.625 7.61328 4.80078 7.69141 5.03516C7.78906 5.28906 7.73047 5.5625 7.53516 5.73828L2.53516 10.1133C2.30078 10.2891 1.98828 10.3086 1.75391 10.1328C1.51953 9.97656 1.42188 9.66406 1.53906 9.39062L3.04297 5.875H0.855469C0.601562 5.875 0.367188 5.71875 0.289062 5.48438C0.191406 5.23047 0.25 4.95703 0.445312 4.78125L5.44531 0.40625C5.67969 0.230469 5.99219 0.210938 6.22656 0.386719C6.46094 0.542969 6.55859 0.855469 6.44141 1.12891L4.9375 4.625Z" fill="#176FFF"></path></svg>
                            <h6>Web Fundamentals</h6>
                            </span>
        
                            <span>
                                <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="Curriculum_inactiveItemIcon__V52vb"><path d="M4.9375 4.625H7.125C7.37891 4.625 7.61328 4.80078 7.69141 5.03516C7.78906 5.28906 7.73047
                                    10.1328C1.51953 9.97656 1.42188 9.66406 1.53906 9.39062L3.04297 5.875H0.855469C0.601562 5.875 0.367188 5.71875 0.289062 5.48438C0.191406 5.23047 0.25 4.95703 0.445312 4.78125L5.44531 0.40625C5.67969 0.230469 5.99219 0.210938 6.22656 0.386719C6.46094 0.542969 6.55859 0.855469 6.44141 1.12891L4.9375 4.625Z" fill="#176FFF"></path></svg>
                                    <h6>CSS</h6>
                                </span>
            
                                <span>
                                    <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="Curriculum_inactiveItemIcon__V52vb"><path d="M4.9375 4.625H7.125C7.37891 4.625 7.61328 4.80078 7.69141 5.03516C7.78906 5.28906 7.73047 5.5625 7.53516 5.73828L2.53516 10.1133C2.30078 10.2891 1.98828 10.3086 1.75391 10.1328C1.51953 9.97656 1.42188 9.66406 1.53906 9.39062L3.04297 5.875H0.855469C0.601562 5.875 0.367188 5.71875 0.289062 5.48438C0.191406 5.23047 0.25 4.95703 0.445312 4.78125L5.44531 0.40625C5.67969 0.230469 5.99219 0.210938 6.22656 0.386719C6.46094 0.542969 6.55859 0.855469 6.44141 1.12891L4.9375 4.625Z" fill="#176FFF"></path></svg>
                                    <h6>CSS Layout</h6>
                                </span>
            
                                <span>
                                    <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="Curriculum_inactiveItemIcon__V52vb"><path d="M4.9375 
                                        4.625H7.125C7.37891 4.625 7.61328 4.80078 7.69141 5.03516C7.78906 5.28906 7.73047 5.5625 7.53516 5.73828L2.53516 10.1133C2.30078 10.2891 1.98828 10.3086 1.75391 10.1328C1.51953 9.97656 1.42188 9.66406 1.53906 9.39062L3.04297 5.875H0.855469C0.601562 5.875 0.367188 5.71875 0.289062 5.48438C0.191406 5.23047 0.25 4.95703 0.445312 4.78125L5.44531 0.40625C5.67969 0.230469 5.99219 0.210938 6.22656 0.386719C6.46094 0.542969 6.55859 0.855469 6.44141 1.12891L4.9375 4.625Z" fill="#176FFF"></path></svg>
                        <h6>JavaScript</h6>
                    </span>

                    <span>
                        <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="Curriculum_inactiveItemIcon__V52vb"><path d="M4.9375 4.625H7.125C7.37891 4.625 7.61328 4.80078 7.69141 5.03516C7.78906 5.28906 7.73047 5.5625 7.53516 5.73828L2.53516 10.1133C2.30078 10.2891 1.98828 10.3086 1.75391 10.1328C1.51953 9.97656 1.42188 9.66406 1.53906 9.39062L3.04297 5.875H0.855469C0.601562 5.875 0.367188 5.71875 0.289062 5.48438C0.191406 5.23047 0.25 4.95703 0.445312 4.78125L5.44531 0.40625C5.67969 0.230469 5.99219 0.210938 6.22656 0.386719C6.46094 0.542969 6.55859 0.855469 6.44141 1.12891L4.9375 4.625Z" fill="#176FFF"></path></svg>
                        <h6>DOM</h6>
                    </span>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="s">
                    <div class="headers">
                        <h6>Courses</h6>
                        <h6>Assesments</h6>
                        <h6>Three Resources can help you</h6>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="img.ng.jpeg" alt="img">
                                <img src="img.ng.jpeg" alt="img">
                                <img src="img.ng.jpeg" alt="img">
                            </div>
                        </div>
                    </div>


                    <div>
                        <h6>“Tell me and I forget, teach me and I may remember, involve me and I learn.”
                            Benjamin Franklin, Founding Father of the United States of America </h6>

                        <h6>Interactive learning, evolving students, and giving examples give a sense of belonging to students and make us a community of tech enthusiasts.</h6>
                        <h6>“You can't teach people everything they need to know. The best you can do is position them where they can find what they need to know when they need to know it.”
                            Seymour Papert, Computer Scientist and Educator and MIT</h6>

                        <h6>The Best we can do is provide you with all the tools and resources to set you up for    success, but the work is yours!</h6>

                        <h6>"Education is not the learning of facts, but the training of the mind to think"
                            Albert Einstein 1879-1955</h6>

                        <h6>Facts and content exist online; We want our students to improve their thinking process  And     find solutions that work!

                        ,</h6>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

   <audio src="Sia - Elastic Heart (piano Version) (minus).mp3" controls></audio>
    
</body>
</html> 

      

        


